*{
    list-style: none;
    text-decoration: none;
    border: solid;

}

section img{
    width: 300px;
    height: 200px;
}
/** Borders Colors **/

body{
    border-color: red;
}

#header{
    border-color: rgb(22, 189, 80);
    width: 100%;
    background-image: url(./Assets/Home/Img_home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;

}

header nav ul{
    border-color: greenyellow;
}

main{
    border-color: aqua;
}

#tittleHome{
    border-color: aquamarine;
}

#rightBoxes{
    border-color: blueviolet;
}

h1{
    border-color: yellow;
}

h2{
    border-color: orange;
}

h3{
    border-color: aquamarine;
}

p{
    border-color: white;
}

ul{
    border-color: chartreuse;
}

li{
    border-color: cornflowerblue;
}

a{
    border-color: brown;
    color: white;
}

img{
    border-color: darksalmon;
}



/** CSS Home **/

.homeTop{
    display: flex;
}

nav{
    width: 100%;
}
.links{
    display: flex;
    justify-content: flex-end;
    width: 70%;
}


.languages{
    display: flex;
    justify-content: flex-end;
    align-items: right;
    width: 20%;

}
.languages h5{
    width: 10%;
   text-align: center;
}

#homeTop{
    width: 100%;
    height: 90%;
    background-image: url(./Assets/Home/Img_home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-color: red;

}

#logo{
    border-color: rgb(10, 227, 10);
}

header{
    border-color: yellow;
}

header ul{
    border-color: greenyellow;
}
header nav{
    /*display: flex;
    justify-content: flex-end; */
    padding: 40px;
}


header li{
    list-style: none;
    display: inline-block;   
    padding: 0 20px;
}

nav li a{
    text-decoration: none;
    transition: all 0.5s ease 0s;
    color: black;
}

/* CSS MAIN */

main{
    width: 100%;
    border-color: aqua;
}

.blueColor{
    border-color: aqua;
}

#titleHome{
    width: 60%;
    padding: 5%;
    margin: 5%;
}

#rightBoxes{
    position: absolute;
    width: 30%;
    top: 300px;
    right: 10px;
    height: 50%;
    

}




/* CSS PROJECTS */

.home{
    background-image: url(./Assets/Projects/opacasinthehills.pgn);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;

}